In [2]:
import pandas as pd
import time

In [3]:
#df_t = pd.read_csv("data/dataviz_with_coordinates.csv")
df_t = pd.read_csv("data/dataviz_processed.csv")
display(df_t.head())

,id,plat,plng,dlat,dlng,t,road,duration,distance,pregions,dregions
0,0,46.517116,6.630342,46.508528,6.627598,11:15:00,"46.517114/6.630323,46.517118/6.630360,46.51712...",132.0,1336.0,Lausanne,Lausanne
1,1,46.517116,6.630342,46.521429,6.656347,20:00:00,"46.517114/6.630323,46.517118/6.630360,46.51712...",426.0,3702.0,Lausanne,Lausanne
2,2,46.517116,6.630342,46.558792,6.680104,18:15:00,"46.517114/6.630323,46.517118/6.630360,46.51712...",707.0,8354.0,Lausanne,Lausanne
3,3,46.520649,6.635173,46.519590,6.634718,18:45:00,"46.520650/6.635119,46.520647/6.635232,46.52064...",163.0,1521.0,Lausanne,Lausanne
4,4,46.510731,6.630553,46.515950,6.657525,19:00:00,"46.511068/6.630687,46.510171/6.630329,46.50945...",437.0,3818.0,Lausanne,Pully

In [4]:
df_time = df_t[['id','t']]
display(df_time.head())

   id         t
0   0  11:15:00
1   1  20:00:00
2   2  18:15:00
3   3  18:45:00
4   4  19:00:00

In [11]:
from datetime import datetime, timedelta

def datetime_range(start, end, delta):
    current = start
    while current < end:
        yield current
        current += delta

dts = [dt.strftime('%H:%M') for dt in 
       datetime_range(datetime(2016, 9, 1, 10), datetime(2016, 9, 1, 10+12,15), 
       timedelta(minutes=15))]

print(dts)

['10:00', '10:15', '10:30', '10:45', '11:00', '11:15', '11:30', '11:45', '12:00', '12:15', '12:30', '12:45', '13:00', '13:15', '13:30', '13:45', '14:00', '14:15', '14:30', '14:45', '15:00', '15:15', '15:30', '15:45', '16:00', '16:15', '16:30', '16:45', '17:00', '17:15', '17:30', '17:45', '18:00', '18:15', '18:30', '18:45', '19:00', '19:15', '19:30', '19:45', '20:00', '20:15', '20:30', '20:45', '21:00', '21:15', '21:30', '21:45', '22:00']

In [41]:
df_time_groups = df_time.groupby(by='t').count()
df_time_groups.reset_index(inplace=True)
df_time_groups.rename_axis('id', inplace=True)
df_time_groups.rename(columns={'t':'time','id':'count'},inplace=True)
display(df_time_groups.shape)
df_time_groups.time = df_time_groups.time.apply(lambda x: x[:-3])
display(df_time_groups.head())

(41, 2)

     time  count
id
0   10:30      1
1   10:45      1
2   11:00      3
3   11:15     33
4   11:30     17

In [ ]:
df_time_groups.merge(d)

In [7]:
df_time_groups.to_csv('data/times_group.csv')

In [8]:
ax = df_time_groups.plot.bar('time','count')

In [12]:
time_Range= pd.DataFrame(dts,columns=['time'])
time_Range['count']=0
time_Range.head()

    time  count
0  10:00      0
1  10:15      0
2  10:30      0
3  10:45      0
4  11:00      0

In [39]:
merged = df_time_groups.append(time_Range)
merged.drop_duplicates(subset=['time'], inplace=True, keep='first')
merged.sort_values(by='time',inplace=True)

In [40]:
merged.to_csv('data/times_group.csv')

### Communes Count

In [5]:
df_communes = df_t[['t','dregions']]
df_communes = df_communes.sort_values(by=['t'])

In [83]:
df_communes_groups = df_communes.groupby(by='t')['dregions'].nunique()
df_communes_groups

t
10:30:00     1
10:45:00     1
11:00:00     1
11:15:00     3
11:30:00     2
11:45:00     1
12:00:00     3
12:15:00     5
12:30:00     5
12:45:00     1
13:00:00     3
13:15:00     3
13:30:00     2
13:45:00     2
14:00:00     1
14:15:00     2
14:30:00     2
15:00:00     2
15:45:00     2
16:15:00     1
16:30:00     1
16:45:00     1
17:00:00     2
17:15:00     1
17:30:00     4
17:45:00     4
18:00:00     9
18:15:00    15
18:30:00    14
18:45:00    10
19:00:00    13
19:15:00    12
19:30:00    13
19:45:00    13
20:00:00     9
20:15:00     8
20:30:00     7
20:45:00     8
21:00:00     3
21:15:00     3
21:30:00     2
Name: dregions, dtype: int64

In [84]:
df_communes_groups = pd.DataFrame(df_communes_groups)#, columns=['time','count'])
df_communes_groups.reset_index(inplace=True)
df_communes_groups.rename_axis('id', inplace=True)
df_communes_groups.rename(columns={'t':'time','dregions':'count'},inplace=True)
display(df_communes_groups.shape)
df_communes_groups.time = df_communes_groups.time.apply(lambda x: x[:-3])
display(df_communes_groups.head())

(41, 2)

     time  count
id
0   10:30      1
1   10:45      1
2   11:00      1
3   11:15      3
4   11:30      2

In [85]:
# check if done correctly
df_communes.loc[df_communes.t=='18:30:00'].dregions.unique()

array(['Lausanne', 'La Conversion', 'Epalinges', 'Saint-Sulpice', 'Pully',
       'Renens', 'Prilly', 'Chavannes-près-Renens', 'Lutry',
       'Belmont-sur-Lausanne', 'Le Mont-sur-Lausanne', 'Ecublens',
       'Montpreveyres', 'Morges'], dtype=object)

In [86]:
merged_communes = df_communes_groups.append(time_Range)
merged_communes.drop_duplicates(subset=['time'], inplace=True, keep='first')
merged_communes.sort_values(by='time',inplace=True)

In [87]:
merged_communes.to_csv('data/communes_group.csv')

### Distance

In [13]:
df_dist = df_t[['t','distance']]
df_dist = df_dist.sort_values(by=['t'])

In [14]:
df_dist_groups = df_dist.groupby(by='t')['distance'].sum()
df_dist_groups

t
10:30:00      1517.0
10:45:00      2074.0
11:00:00     16707.0
11:15:00    121143.0
11:30:00     68970.0
11:45:00     39768.0
12:00:00     43802.0
12:15:00     42095.0
12:30:00     62025.0
12:45:00     11357.0
13:00:00     75503.0
13:15:00     47170.0
13:30:00     34081.0
13:45:00     42570.0
14:00:00     18339.0
14:15:00     13264.0
14:30:00     38237.0
15:00:00     22302.0
15:45:00      7628.0
16:15:00      1826.0
16:30:00      3264.0
16:45:00     10796.0
17:00:00     37748.0
17:15:00     15340.0
17:30:00     73838.0
17:45:00    140096.0
18:00:00    480705.0
18:15:00    988623.0
18:30:00    965755.0
18:45:00    562372.0
19:00:00    979674.0
19:15:00    760420.0
19:30:00    942227.0
19:45:00    735071.0
20:00:00    392539.0
20:15:00    399827.0
20:30:00    308229.0
20:45:00    184833.0
21:00:00    122533.0
21:15:00     93614.0
21:30:00     33248.0
Name: distance, dtype: float64

In [15]:
df_dist_groups = pd.DataFrame(df_dist_groups)#, columns=['time','count'])
df_dist_groups.reset_index(inplace=True)
df_dist_groups.rename_axis('id', inplace=True)
df_dist_groups.rename(columns={'t':'time','distance':'count'},inplace=True)
display(df_dist_groups.shape)
df_dist_groups.time = df_dist_groups.time.apply(lambda x: x[:-3])
display(df_dist_groups.head())

(41, 2)

     time     count
id
0   10:30    1517.0
1   10:45    2074.0
2   11:00   16707.0
3   11:15  121143.0
4   11:30   68970.0

In [16]:
merged_dist = df_dist_groups.append(time_Range)
merged_dist.drop_duplicates(subset=['time'], inplace=True, keep='first')
merged_dist.sort_values(by='time',inplace=True)

In [17]:
merged_dist.head()

    time    count
0  10:00      0.0
1  10:15      0.0
0  10:30   1517.0
1  10:45   2074.0
2  11:00  16707.0

In [24]:
merged_dist[['count']].sum()

count    8941130.0
dtype: float64

In [18]:
merged_dist.to_csv('data/dist_group.csv')

### General Matrix

In [26]:
df_t.head()

,id,plat,plng,dlat,dlng,t,road,duration,distance,pregions,dregions
0,0,46.517116,6.630342,46.508528,6.627598,11:15:00,"46.517114/6.630323,46.517118/6.630360,46.51712...",132.0,1336.0,Lausanne,Lausanne
1,1,46.517116,6.630342,46.521429,6.656347,20:00:00,"46.517114/6.630323,46.517118/6.630360,46.51712...",426.0,3702.0,Lausanne,Lausanne
2,2,46.517116,6.630342,46.558792,6.680104,18:15:00,"46.517114/6.630323,46.517118/6.630360,46.51712...",707.0,8354.0,Lausanne,Lausanne
3,3,46.520649,6.635173,46.519590,6.634718,18:45:00,"46.520650/6.635119,46.520647/6.635232,46.52064...",163.0,1521.0,Lausanne,Lausanne
4,4,46.510731,6.630553,46.515950,6.657525,19:00:00,"46.511068/6.630687,46.510171/6.630329,46.50945...",437.0,3818.0,Lausanne,Pully

In [27]:
#df_new['pickup'] = df_t[['plat', 'plng']].apply(lambda x: '/'.join(map(str, x)), axis=1)
def myfunc(str1,str2):
    return str(str1)[:9] + '/' + str(str2)[:8]
df_t['pickup'] = (df_t[['plat', 'plng']].apply(lambda x: myfunc(x['plat'], x['plng']), axis=1))

In [28]:
df_g = df_t[['pickup','t','id']]
df_g = df_g.groupby(by=['pickup','t']).count()
df_g.reset_index(inplace=True)
df_g

                 pickup         t  id
0    46.507833/6.652842  11:15:00   1
1    46.507833/6.652842  12:30:00   1
2    46.507833/6.652842  17:30:00   1
3    46.507833/6.652842  18:30:00   3
4    46.507833/6.652842  18:45:00   1
5    46.507833/6.652842  19:00:00   2
6    46.507833/6.652842  19:15:00   1
7    46.507833/6.652842  19:30:00   3
8    46.507833/6.652842  20:15:00   1
9    46.510731/6.630553  11:45:00   1
10   46.510731/6.630553  15:45:00   1
11   46.510731/6.630553  16:30:00   1
12   46.510731/6.630553  17:00:00   1
13   46.510731/6.630553  18:00:00   2
14   46.510731/6.630553  18:15:00   6
15   46.510731/6.630553  18:30:00   7
16   46.510731/6.630553  18:45:00  10
17   46.510731/6.630553  19:00:00   5
18   46.510731/6.630553  19:15:00   2
19   46.510731/6.630553  19:30:00   6
20   46.510731/6.630553  19:45:00   3
21   46.510731/6.630553  20:00:00   3
22   46.510731/6.630553  20:15:00   3
23   46.510731/6.630553  20:30:00   3
24   46.510731/6.630553  20:45:00   1
25   46.517116/6.630342  10:30:00   1
26   46.517116/6.630342  10:45:00   1
27   46.517116/6.630342  11:00:00   2
28   46.517116/6.630342  11:15:00   4
29   46.517116/6.630342  11:30:00   8
..                  ...       ...  ..
271  46.527964/6.630955  19:00:00   2
272  46.527964/6.630955  19:15:00   1
273  46.527964/6.630955  19:30:00   1
274  46.527964/6.630955  19:45:00   1
275  46.527964/6.630955  20:15:00   1
276  46.527964/6.630955  20:30:00   1
277  46.527964/6.630955  21:00:00   1
278  46.531225/6.633482  11:45:00   1
279   46.531433/6.62643  18:00:00   1
280   46.531433/6.62643  18:15:00   1
281   46.531433/6.62643  18:30:00   3
282   46.531433/6.62643  18:45:00   1
283   46.531433/6.62643  19:00:00   1
284   46.531433/6.62643  19:15:00   3
285   46.531433/6.62643  19:30:00   1
286   46.531433/6.62643  19:45:00   2
287   46.531433/6.62643  20:00:00   2
288   46.531433/6.62643  20:15:00   1
289   46.531433/6.62643  20:30:00   1
290  46.533304/6.617839  12:45:00   1
291  46.535762/6.607472  18:00:00   1
292  46.535762/6.607472  19:00:00   1
293  46.535762/6.607472  19:30:00   1
294  46.536840/6.581138  13:15:00   1
295  46.536840/6.581138  18:45:00   1
296  46.536840/6.581138  19:00:00   1
297  46.536840/6.581138  19:15:00   1
298  46.536840/6.581138  20:15:00   1
299  46.536840/6.581138  20:30:00   1
300  46.536840/6.581138  20:45:00   1

[301 rows x 3 columns]

In [39]:
df_pickup_sum = df_g.groupby(by=['pickup'])['id'].sum()
df_pickup_sum = pd.DataFrame(df_pickup_sum)
df_pickup_sum.reset_index(inplace=True)
df_pickup_sum.rename_axis('id', inplace=True)
df_pickup_sum.rename(columns={'id':'count'},inplace=True)
df_pickup_sum

                pickup  count
id
0   46.507833/6.652842     14
1   46.510731/6.630553     55
2   46.517116/6.630342    390
3   46.517122/6.613410      1
4   46.517671/6.638005     19
5   46.518684/6.637826      3
6   46.518914/6.637911     81
7   46.519517/6.639571      3
8   46.520649/6.635173    995
9    46.520946/6.63368      6
10  46.521329/6.630481     30
11  46.521701/6.639626     63
12  46.522014/6.627691    171
13  46.522226/6.626827      5
14  46.522273/6.630044      3
15  46.522426/6.642152     36
16   46.522719/6.63815     19
17  46.522783/6.639384      3
18  46.523787/6.630911     12
19  46.523815/6.636847      2
20  46.523953/6.625008     24
21  46.525477/6.632925      2
22  46.525731/6.634123      2
23  46.526720/6.638082      2
24  46.527087/6.604758     15
25  46.527252/6.623525      3
26  46.527964/6.630955     12
27  46.531225/6.633482      1
28   46.531433/6.62643     17
29  46.533304/6.617839      1
30  46.535762/6.607472      3
31  46.536840/6.581138      7

In [40]:
df_pickup_sum.to_csv('data/pickup_sum.csv')

In [134]:
#df_g[df_g.pickup=='46.520649/6.635173']

In [29]:
#l = df_g.t.values
l = dts
df = pd.DataFrame(df_t['pickup']) 
for col in l:
    df[col] = 0

In [30]:
df.drop_duplicates(inplace=True)
#df

In [31]:
for ind, row in df_g.iterrows():
    pickup = row.pickup
    count = row.id
    time = row.t[:-3]
    print(pickup,time,count)
    df.loc[df['pickup'] == pickup, time] = count

46.507833/6.652842 11:15 1
46.507833/6.652842 12:30 1
46.507833/6.652842 17:30 1
46.507833/6.652842 18:30 3
46.507833/6.652842 18:45 1
46.507833/6.652842 19:00 2
46.507833/6.652842 19:15 1
46.507833/6.652842 19:30 3
46.507833/6.652842 20:15 1
46.510731/6.630553 11:45 1
46.510731/6.630553 15:45 1
46.510731/6.630553 16:30 1
46.510731/6.630553 17:00 1
46.510731/6.630553 18:00 2
46.510731/6.630553 18:15 6
46.510731/6.630553 18:30 7
46.510731/6.630553 18:45 10
46.510731/6.630553 19:00 5
46.510731/6.630553 19:15 2
46.510731/6.630553 19:30 6
46.510731/6.630553 19:45 3
46.510731/6.630553 20:00 3
46.510731/6.630553 20:15 3
46.510731/6.630553 20:30 3
46.510731/6.630553 20:45 1
46.517116/6.630342 10:30 1
46.517116/6.630342 10:45 1
46.517116/6.630342 11:00 2
46.517116/6.630342 11:15 4
46.517116/6.630342 11:30 8
46.517116/6.630342 11:45 5
46.517116/6.630342 12:00 3
46.517116/6.630342 12:15 1
46.517116/6.630342 12:30 5
46.517116/6.630342 12:45 1
46.517116/6.630342 13:00 5
46.517116/6.630342 13:45 1
46.517116/6.630342 14:00 1
46.517116/6.630342 14:30 3
46.517116/6.630342 15:00 1
46.517116/6.630342 16:15 1
46.517116/6.630342 16:45 2
46.517116/6.630342 17:00 2
46.517116/6.630342 17:30 4
46.517116/6.630342 17:45 4
46.517116/6.630342 18:00 14
46.517116/6.630342 18:15 43
46.517116/6.630342 18:30 36
46.517116/6.630342 18:45 28
46.517116/6.630342 19:00 44
46.517116/6.630342 19:15 31
46.517116/6.630342 19:30 34
46.517116/6.630342 19:45 34
46.517116/6.630342 20:00 20
46.517116/6.630342 20:15 21
46.517116/6.630342 20:30 15
46.517116/6.630342 20:45 6
46.517116/6.630342 21:00 4
46.517116/6.630342 21:15 5
46.517122/6.613410 18:45 1
46.517671/6.638005 12:15 1
46.517671/6.638005 18:15 4
46.517671/6.638005 18:30 2
46.517671/6.638005 19:15 1
46.517671/6.638005 19:30 1
46.517671/6.638005 19:45 2
46.517671/6.638005 20:00 2
46.517671/6.638005 20:15 2
46.517671/6.638005 20:45 3
46.517671/6.638005 21:15 1
46.518684/6.637826 13:15 1
46.518684/6.637826 19:45 1
46.518684/6.637826 21:00 1
46.518914/6.637911 11:00 1
46.518914/6.637911 11:15 2
46.518914/6.637911 12:45 1
46.518914/6.637911 13:00 2
46.518914/6.637911 13:15 1
46.518914/6.637911 13:30 1
46.518914/6.637911 15:00 2
46.518914/6.637911 17:00 1
46.518914/6.637911 18:00 7
46.518914/6.637911 18:15 12
46.518914/6.637911 18:30 9
46.518914/6.637911 18:45 3
46.518914/6.637911 19:00 6
46.518914/6.637911 19:15 11
46.518914/6.637911 19:30 8
46.518914/6.637911 19:45 3
46.518914/6.637911 20:00 2
46.518914/6.637911 20:30 5
46.518914/6.637911 20:45 1
46.518914/6.637911 21:00 2
46.518914/6.637911 21:15 1
46.519517/6.639571 13:15 1
46.519517/6.639571 13:45 1
46.519517/6.639571 20:00 1
46.520649/6.635173 11:15 19
46.520649/6.635173 11:30 5
46.520649/6.635173 11:45 3
46.520649/6.635173 12:00 4
46.520649/6.635173 12:15 8
46.520649/6.635173 12:30 6
46.520649/6.635173 12:45 1
46.520649/6.635173 13:00 10
46.520649/6.635173 13:15 6
46.520649/6.635173 13:30 5
46.520649/6.635173 13:45 2
46.520649/6.635173 14:00 1
46.520649/6.635173 14:15 2
46.520649/6.635173 14:30 4
46.520649/6.635173 15:00 2
46.520649/6.635173 15:45 1
46.520649/6.635173 16:30 1
46.520649/6.635173 17:00 1
46.520649/6.635173 17:15 2
46.520649/6.635173 17:30 6
46.520649/6.635173 17:45 14
46.520649/6.635173 18:00 56
46.520649/6.635173 18:15 112
46.520649/6.635173 18:30 98
46.520649/6.635173 18:45 69
46.520649/6.635173 19:00 109
46.520649/6.635173 19:15 81
46.520649/6.635173 19:30 105
46.520649/6.635173 19:45 88
46.520649/6.635173 20:00 49
46.520649/6.635173 20:15 43
46.520649/6.635173 20:30 28
46.520649/6.635173 20:45 25
46.520649/6.635173 21:00 17
46.520649/6.635173 21:15 8
46.520649/6.635173 21:30 4
46.520946/6.63368 11:30 1
46.520946/6.63368 18:45 1
46.520946/6.63368 19:30 1
46.520946/6.63368 19:45 1
46.520946/6.63368 20:30 1
46.520946/6.63368 21:00 1
46.521329/6.630481 11:30 1
46.521329/6.630481 12:00 1
46.521329/6.630481 14:00 1
46.521329/6.630481 18:00 2
46.521329/6.630481 18:15 1
46.521329/6.630481 18:30 4
46.521329/6.630481 18:45 1
46.521329/6.630481 19:00 4
46.521329/6.630481 19:15 4
46.521329/6.630481 19:30 3
46.521329/6.630481 19:45 4
46.521329/6.630481 20:00 1
46.521329/6.630481 20:30 1
46.521329/6.630481 20:45 1
46.521329/6.630481 21:30 1
46.521701/6.639626 11:15 1
46.521701/6.639626 12:00 1
46.521701/6.639626 12:15 2
46.521701/6.639626 12:30 3
46.521701/6.639626 13:45 1
46.521701/6.639626 17:30 2
46.521701/6.639626 17:45 2
46.521701/6.639626 18:00 1
46.521701/6.639626 18:15 6
46.521701/6.639626 18:30 8
46.521701/6.639626 18:45 4
46.521701/6.639626 19:00 5
46.521701/6.639626 19:15 6
46.521701/6.639626 19:30 7
46.521701/6.639626 19:45 1
46.521701/6.639626 20:00 3
46.521701/6.639626 20:15 2
46.521701/6.639626 20:30 3
46.521701/6.639626 20:45 2
46.521701/6.639626 21:00 3
46.522014/6.627691 11:15 3
46.522014/6.627691 12:00 1
46.522014/6.627691 13:00 1
46.522014/6.627691 13:15 2
46.522014/6.627691 13:30 1
46.522014/6.627691 13:45 1
46.522014/6.627691 17:00 2
46.522014/6.627691 17:45 2
46.522014/6.627691 18:00 9
46.522014/6.627691 18:15 22
46.522014/6.627691 18:30 13
46.522014/6.627691 18:45 4
46.522014/6.627691 19:00 21
46.522014/6.627691 19:15 16
46.522014/6.627691 19:30 25
46.522014/6.627691 19:45 26
46.522014/6.627691 20:00 4
46.522014/6.627691 20:15 8
46.522014/6.627691 20:30 4
46.522014/6.627691 20:45 4
46.522014/6.627691 21:15 2
46.522226/6.626827 11:45 1
46.522226/6.626827 18:30 1
46.522226/6.626827 18:45 1
46.522226/6.626827 19:30 2
46.522273/6.630044 18:45 1
46.522273/6.630044 19:00 1
46.522273/6.630044 20:00 1
46.522426/6.642152 11:15 1
46.522426/6.642152 11:30 1
46.522426/6.642152 13:30 1
46.522426/6.642152 13:45 1
46.522426/6.642152 17:00 1
46.522426/6.642152 18:00 1
46.522426/6.642152 18:15 1
46.522426/6.642152 18:30 2
46.522426/6.642152 18:45 5
46.522426/6.642152 19:00 4
46.522426/6.642152 19:15 1
46.522426/6.642152 19:30 9
46.522426/6.642152 19:45 3
46.522426/6.642152 20:15 3
46.522426/6.642152 21:00 1
46.522426/6.642152 21:15 1
46.522719/6.63815 11:15 2
46.522719/6.63815 18:00 3
46.522719/6.63815 18:15 3
46.522719/6.63815 19:15 1
46.522719/6.63815 19:30 3
46.522719/6.63815 19:45 1
46.522719/6.63815 20:00 1
46.522719/6.63815 20:15 3
46.522719/6.63815 20:30 2
46.522783/6.639384 18:15 1
46.522783/6.639384 18:30 1
46.522783/6.639384 20:15 1
46.523787/6.630911 13:30 1
46.523787/6.630911 18:15 1
46.523787/6.630911 18:30 3
46.523787/6.630911 18:45 3
46.523787/6.630911 19:00 2
46.523787/6.630911 19:15 1
46.523787/6.630911 19:30 1
46.523815/6.636847 19:15 1
46.523815/6.636847 19:30 1
46.523953/6.625008 11:30 1
46.523953/6.625008 18:00 4
46.523953/6.625008 18:15 2
46.523953/6.625008 18:30 8
46.523953/6.625008 18:45 1
46.523953/6.625008 19:00 1
46.523953/6.625008 19:30 4
46.523953/6.625008 19:45 1
46.523953/6.625008 20:00 1
46.523953/6.625008 21:00 1
46.525477/6.632925 18:30 2
46.525731/6.634123 12:15 1
46.525731/6.634123 19:15 1
46.526720/6.638082 18:00 1
46.526720/6.638082 19:30 1
46.527087/6.604758 11:45 1
46.527087/6.604758 18:15 1
46.527087/6.604758 18:30 3
46.527087/6.604758 18:45 1
46.527087/6.604758 19:00 3
46.527087/6.604758 19:30 1
46.527087/6.604758 19:45 1
46.527087/6.604758 20:00 1
46.527087/6.604758 20:30 2
46.527087/6.604758 21:00 1
46.527252/6.623525 19:30 1
46.527252/6.623525 19:45 1
46.527252/6.623525 21:00 1
46.527964/6.630955 14:30 1
46.527964/6.630955 17:45 1
46.527964/6.630955 18:15 1
46.527964/6.630955 18:30 1
46.527964/6.630955 19:00 2
46.527964/6.630955 19:15 1
46.527964/6.630955 19:30 1
46.527964/6.630955 19:45 1
46.527964/6.630955 20:15 1
46.527964/6.630955 20:30 1
46.527964/6.630955 21:00 1
46.531225/6.633482 11:45 1
46.531433/6.62643 18:00 1
46.531433/6.62643 18:15 1
46.531433/6.62643 18:30 3
46.531433/6.62643 18:45 1
46.531433/6.62643 19:00 1
46.531433/6.62643 19:15 3
46.531433/6.62643 19:30 1
46.531433/6.62643 19:45 2
46.531433/6.62643 20:00 2
46.531433/6.62643 20:15 1
46.531433/6.62643 20:30 1
46.533304/6.617839 12:45 1
46.535762/6.607472 18:00 1
46.535762/6.607472 19:00 1
46.535762/6.607472 19:30 1
46.536840/6.581138 13:15 1
46.536840/6.581138 18:45 1
46.536840/6.581138 19:00 1
46.536840/6.581138 19:15 1
46.536840/6.581138 20:15 1
46.536840/6.581138 20:30 1
46.536840/6.581138 20:45 1

In [152]:
df.reset_index(drop=True,inplace=True)
df

,pickup,10:00,10:15,10:30,10:45,11:00,11:15,11:30,11:45,12:00,...,19:45,20:00,20:15,20:30,20:45,21:00,21:15,21:30,21:45,22:00
0,46.517116/6.630342,0,0,1,1,2,4,8,5,3,...,34,20,21,15,6,4,5,0,0,0
1,46.520649/6.635173,0,0,0,0,0,19,5,3,4,...,88,49,43,28,25,17,8,4,0,0
2,46.510731/6.630553,0,0,0,0,0,0,0,1,0,...,3,3,3,3,1,0,0,0,0,0
3,46.518914/6.637911,0,0,0,0,1,2,0,0,0,...,3,2,0,5,1,2,1,0,0,0
4,46.527252/6.623525,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
5,46.531433/6.62643,0,0,0,0,0,0,0,0,0,...,2,2,1,1,0,0,0,0,0,0
6,46.527087/6.604758,0,0,0,0,0,0,0,1,0,...,1,1,0,2,0,1,0,0,0,0
7,46.522014/6.627691,0,0,0,0,0,3,0,0,1,...,26,4,8,4,4,0,2,0,0,0
8,46.517671/6.638005,0,0,0,0,0,0,0,0,0,...,2,2,2,0,3,0,1,0,0,0
9,46.522226/6.626827,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10,46.522426/6.642152,0,0,0,0,0,1,1,0,0,...,3,0,3,0,0,1,1,0,0,0
11,46.520946/6.63368,0,0,0,0,0,0,1,0,0,...,1,0,0,1,0,1,0,0,0,0
12,46.521701/6.639626,0,0,0,0,0,1,0,0,1,...,1,3,2,3,2,3,0,0,0,0
13,46.507833/6.652842,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
14,46.522719/6.63815,0,0,0,0,0,2,0,0,0,...,1,1,3,2,0,0,0,0,0,0
15,46.523787/6.630911,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,46.521329/6.630481,0,0,0,0,0,0,1,0,1,...,4,1,0,1,1,0,0,1,0,0
17,46.522273/6.630044,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
18,46.525731/6.634123,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,46.535762/6.607472,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,46.523953/6.625008,0,0,0,0,0,0,1,0,0,...,1,1,0,0,0,1,0,0,0,0
21,46.531225/6.633482,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
22,46.526720/6.638082,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,46.519517/6.639571,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
24,46.533304/6.617839,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,46.536840/6.581138,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,0
26,46.527964/6.630955,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,1,0,0,0,0
27,46.517122/6.613410,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,46.523815/6.636847,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,46.522783/6.639384,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
30,46.525477/6.632925,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,46.518684/6.637826,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [153]:
df.to_csv('data/pickup_counts_per_time.csv')

### General Matrix Communes

In [42]:
df_gc = df_t[['dregions','t','id']]
df_gc = df_gc.groupby(by=['dregions','t']).count()
df_gc.reset_index(inplace=True)
df_gc

                  dregions         t  id
0     Belmont-sur-Lausanne  18:15:00   2
1     Belmont-sur-Lausanne  18:30:00   1
2     Belmont-sur-Lausanne  19:00:00   1
3     Belmont-sur-Lausanne  19:30:00   1
4     Belmont-sur-Lausanne  20:30:00   1
5                  Bottens  18:15:00   1
6          Bourg-en-Lavaux  17:30:00   1
7                 Bussigny  18:45:00   1
8                 Bussigny  19:15:00   1
9    Chavannes-près-Renens  11:15:00   1
10   Chavannes-près-Renens  12:15:00   1
11   Chavannes-près-Renens  13:15:00   1
12   Chavannes-près-Renens  17:30:00   1
13   Chavannes-près-Renens  17:45:00   1
14   Chavannes-près-Renens  18:00:00   1
15   Chavannes-près-Renens  18:15:00   6
16   Chavannes-près-Renens  18:30:00   9
17   Chavannes-près-Renens  18:45:00   1
18   Chavannes-près-Renens  19:00:00   5
19   Chavannes-près-Renens  19:15:00   5
20   Chavannes-près-Renens  19:30:00   6
21   Chavannes-près-Renens  19:45:00   4
22   Chavannes-près-Renens  20:00:00   1
23   Chavannes-près-Renens  20:15:00   3
24   Chavannes-près-Renens  20:30:00   1
25                Crissier  12:30:00   1
26                Crissier  18:15:00   1
27                Crissier  19:15:00   1
28                Crissier  19:30:00   1
29                Crissier  20:15:00   1
..                     ...       ...  ..
165                 Renens  12:15:00   1
166                 Renens  13:00:00   1
167                 Renens  15:00:00   1
168                 Renens  18:00:00   3
169                 Renens  18:15:00   1
170                 Renens  18:30:00   3
171                 Renens  18:45:00   2
172                 Renens  19:00:00   2
173                 Renens  19:15:00   4
174                 Renens  19:30:00   2
175                 Renens  19:45:00   3
176                 Renens  20:00:00   1
177                 Renens  20:15:00   2
178                 Renens  20:30:00   3
179                 Renens  20:45:00   1
180   Romanel-sur-Lausanne  12:00:00   1
181   Romanel-sur-Lausanne  19:30:00   1
182          Saint-Sulpice  14:15:00   1
183          Saint-Sulpice  18:15:00   2
184          Saint-Sulpice  18:30:00   1
185          Saint-Sulpice  18:45:00   3
186          Saint-Sulpice  19:00:00   1
187          Saint-Sulpice  19:45:00   2
188          Saint-Sulpice  20:00:00   1
189       Saint-Sulpice VD  19:00:00   1
190       Saint-Sulpice VD  19:15:00   1
191       Saint-Sulpice VD  19:45:00   1
192                Sullens  18:00:00   1
193   Villars-Sainte-Croix  19:15:00   2
194   Villars-Sainte-Croix  20:00:00   1

[195 rows x 3 columns]

In [43]:
df_com_sum = df_gc.groupby(by=['dregions'])['id'].sum()
df_com_sum = pd.DataFrame(df_com_sum)
df_com_sum.reset_index(inplace=True)
df_com_sum.rename_axis('id', inplace=True)
df_com_sum.rename(columns={'id':'count'},inplace=True)
df_com_sum

                 dregions  count
id
0    Belmont-sur-Lausanne      6
1                 Bottens      1
2         Bourg-en-Lavaux      1
3                Bussigny      2
4   Chavannes-près-Renens     47
5                Crissier      7
6                    Cugy      1
7                  Denges      1
8               Echandens      1
9                Ecublens     12
10              Epalinges     27
11          La Conversion      3
12               Lausanne   1708
13   Le Mont-sur-Lausanne     12
14                  Lutry     21
15          Montpreveyres      4
16                 Morges      2
17                 Paudex      5
18                 Prilly     38
19            Préverenges      1
20                  Pully     48
21                 Renens     30
22   Romanel-sur-Lausanne      2
23          Saint-Sulpice     11
24       Saint-Sulpice VD      3
25                Sullens      1
26   Villars-Sainte-Croix      3

In [44]:
df_com_sum.to_csv('data/com_sum.csv')

In [162]:
df_com = pd.DataFrame(df_t['dregions']) 
for col in dts:
    df_com[col] = 0
df_com.drop_duplicates(inplace=True)
#df_com

In [163]:
for ind, row in df_gc.iterrows():
    reg = row.dregions
    count = row.id
    time = row.t[:-3]
    #print(reg,time,count)
    df_com.loc[df_com['dregions'] == reg, time] = count

In [164]:
df_com.reset_index(drop=True,inplace=True)
df_com

,dregions,10:00,10:15,10:30,10:45,11:00,11:15,11:30,11:45,12:00,...,19:45,20:00,20:15,20:30,20:45,21:00,21:15,21:30,21:45,22:00
0,Lausanne,0,0,0,1,3,31,16,12,8,...,145,78,77,57,36,29,16,4,0,0
1,Pully,0,0,0,0,0,1,0,0,0,...,2,5,1,0,1,0,1,0,0,0
2,Ecublens,0,0,0,0,0,0,1,0,0,...,2,0,0,0,2,0,0,0,0,0
3,Chavannes-près-Renens,0,0,0,0,0,1,0,0,0,...,4,1,3,1,0,0,0,0,0,0
4,Renens,0,0,0,0,0,0,0,0,0,...,3,1,2,3,1,0,0,0,0,0
5,Epalinges,0,0,1,0,0,0,0,0,1,...,3,1,0,0,1,0,1,0,0,0
6,Lutry,0,0,0,0,0,0,0,0,0,...,1,1,2,2,1,0,0,0,0,0
7,Belmont-sur-Lausanne,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,Prilly,0,0,0,0,0,0,0,0,0,...,4,2,3,2,1,2,0,0,0,0
9,La Conversion,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Sullens,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Montpreveyres,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12,Paudex,0,0,0,0,0,0,0,0,0,...,2,0,0,0,1,0,0,0,0,0
13,Saint-Sulpice VD,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14,Saint-Sulpice,0,0,0,0,0,0,0,0,0,...,2,1,0,0,0,0,0,0,0,0
15,Le Mont-sur-Lausanne,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
16,Crissier,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
17,Romanel-sur-Lausanne,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18,Morges,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
19,Villars-Sainte-Croix,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20,Denges,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Bussigny,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Echandens,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Préverenges,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Bourg-en-Lavaux,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Cugy,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Bottens,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [165]:
df_com.to_csv('data/dregions_counts_per_time.csv')

In [167]:
df_t.dregions.unique()

array(['Lausanne', 'Pully', 'Ecublens', 'Chavannes-près-Renens', 'Renens',
       'Epalinges', 'Lutry', 'Belmont-sur-Lausanne', 'Prilly',
       'La Conversion', 'Sullens', 'Montpreveyres', 'Paudex',
       'Saint-Sulpice VD', 'Saint-Sulpice', 'Le Mont-sur-Lausanne',
       'Crissier', 'Romanel-sur-Lausanne', 'Morges',
       'Villars-Sainte-Croix', 'Denges', 'Bussigny', 'Echandens',
       'Préverenges', 'Bourg-en-Lavaux', 'Cugy', nan, 'Bottens'],
      dtype=object)

In [169]:
df_t.loc[df_t.dregions=='Bussigny']

,id,plat,plng,dlat,dlng,t,road,duration,distance,pregions,dregions,pickup
1029,1029,46.522014,6.627691,46.555567,6.564218,19:15:00,"46.521974/6.627848,46.522068/6.627477,46.52208...",736.0,11310.0,Lausanne,Bussigny,46.522014/6.627691
1704,1704,46.520649,6.635173,46.558792,6.680104,18:45:00,"46.520650/6.635119,46.520647/6.635232,46.52064...",626.0,7670.0,Lausanne,Bussigny,46.520649/6.635173